###> symfony/framework-bundle ###
.env
/var/
/vendor/

.DS_Store
.idea

public/.htaccess
docker/data
docker/sqlserver/data
docker/mysql/data
docker/php/data
docker/mosquitto/data
docker/redis/data
docker/nginx/data
bin/custom
